html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(255, 255, 255, 0.5);
}

.vertical-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.vertical-container > *:nth-child(3) {
    flex: 1;
}

.title {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

#result-img {
    width: auto;
    height: 100%;
    object-fit: contain;
    margin: 10px;
    padding: 0;
    border: 0.5px solid black;
    background-color: black;
}

.input-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#text-input {
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 0;
    font-size: 15px;
    resize: none;
}

#generate-button {
    width: 85px;
    height: auto;
    margin: 10px;
    margin-left: 0;
    padding: 0;
    font-size: 15px;
}
